@using HotelBookingWebsite.Models

@model List<ConfirmationViewModel>
@{
    ViewBag.Title = "Upcoming Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>
<div>
    <h4>You have @Model.Count Reservations.</h4>
    <hr/>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guests.Count)
            </td>
        </tr>
    }
</div>
