@using HotelBookingWebsite.Models
@model DashboardModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<h1> @ViewBag.Title </h1>
<div class="container">
    <div class="col-md-3">
        <h2>Room Inventory</h2>
    </div>
    <div class="col-md-3" id="occupancy">
        @Html.Partial("Occupancy", Model.occupancy)
    </div>
    <div class="col-md-4">
        @* TODO: NEED DATA TO TEST *@
        <input class="input-group" id="occupancyDate" value="@DateTime.Today.ToString("MM-dd-yyyy")" />
    </div>
</div>
@Html.Partial("Inventory", Model.inventory)
@Html.ActionLink("Modify the Inventory", "ModifyRoomInventory")
<h2>Upcoming Reservations Today</h2>
@Html.Partial("ViewCheckInList", Model.checkInList)
<h2>Checked-In Reservations</h2>
@Html.ActionLink("Check Out All Expired Reservations", "CheckOutAllExpired")
@Html.Partial("ViewCheckoutListAll", Model.checkOutList)

<script type="text/javascript">
    $("#occupancyDate").change(function() {
        var checkDate = $("#occupancyDate").val();
        console.log(checkDate);
        $("#occupancy").load('@Url.Action("Occupancy", "Staff", null, Request.Url.Scheme)?date=' + checkDate);
    });
</script>