@using HotelBookingWebsite.Models
@model DashboardModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*TODO use bundle here*@
<script src="~/Scripts/jquery-3.1.1.min.js"></script>

@Html.AntiForgeryToken()

<h1> @ViewBag.Title </h1>
<div class="container">
    <div class="col-md-4">
        <h2>Room Inventory</h2>
    </div>
    <div class="col-md-4" id="occupancy">
        @Html.Partial("Occupancy", Model.Occupancy)
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.CheckDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.EditorFor(model => model.CheckDate, new { htmlAttributes = new { @class = "form-control", @id = "occupancyDate", Value = DateTime.Today.Date.ToString("yyyy-MM-dd") } })
        @Html.ValidationMessageFor(model => model.CheckDate, "", new { @class = "text-danger" })
        @*<input class="input-group" id="occupancyDate" value="@DateTime.Today.ToString("MM-dd-yyyy")" />*@
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12" id="inventory">
        @Html.Partial("Inventory", Model.Inventory)
    </div>
</div>
@Html.ActionLink("Modify the Inventory", "ModifyRoomInventory")

<h2>Upcoming Reservations Today</h2>

@Html.Partial("ViewCheckInList", Model.CheckInList)

<h2>Checked-In Reservations</h2>

@Html.ActionLink("Check Out All Expired Reservations", "CheckOutAllExpired")
@Html.Partial("ViewCheckoutListAll", Model.CheckOutList)

<script type="text/javascript">
    $("#occupancyDate").change(function () {
        var checkDate = $("#occupancyDate").val();
        $("#occupancy").load('@Url.Action("Occupancy", "Staff", null, Request.Url.Scheme)?date=' + checkDate);
        $("#inventory").load('@Url.Action("Inventory", "Staff", null, Request.Url.Scheme)?date=' + checkDate);
    });
</script>
