@model HotelBookingWebsite.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <p>Currently, there are nothing to change for your account.</p>

    <hr />
    <h4>YOUR LOYALTY REWARDS™</h4>
    <h5>Available Free Nights</h5>
    @Html.DisplayFor(m => m.FreeNights)
    <h5>Available Loyalty Points</h5>
    @Html.DisplayFor(m => m.LoyaltyProgress)
    <hr/>
    @Html.ActionLink("Upcoming Reservations", "UpcommingReservations", "Profile")
</div>
