@model HotelBookingWebsite.Models.ConfirmRoomViewModel

@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirm</h2>

<div>
    <h4>ConfirmRoomViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Expiration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expiration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
