@model HotelBookingWebsite.Models.CreateReservationViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please confirm the reservation and make a payment</h2>


<div>
    <h4>Room Price</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Date
        </dt>
        <dd>
            Price
        </dd>
        @{var priceList = Model.PriceList; }
        @{DateTime showDate = Model.StartDate;}
        @for (int i = 0; i < priceList.Count; i++)
        {

            <dt>
                @showDate.Date.ToString("MM/dd/yyyy")
            </dt>
            <dd>
                @Html.DisplayFor(model => priceList[i])
            </dd>

            showDate = showDate.AddDays(1);
        }
    </dl>
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Expiration)
    @Html.HiddenFor(model => model.SessionId)

    <div class="form-horizontal">
        <h4>Payment Information</h4>
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pay" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
