@model HotelBookingWebsite.Models.CreateReservationViewModel

@{
    ViewBag.Title = "Please confirm the reservation and make a payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*TODO check this*@
<head>
    @Styles.Render("~/Reservation/css")
</head>

<h2>@ViewBag.Title</h2>

<div>
    <h4>Room Price</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Date</dt>
        <dd>Price</dd>
        @{var sum = 0;}
        @{var priceList = Model.PriceList; }
        @{DateTime showDate = Model.StartDate;}
        @for (int i = 0; i < priceList.Count; i++)
        {
            <dt>@showDate.Date.ToString("MM/dd/yyyy")</dt>
            <dd>@Html.DisplayFor(model => priceList[i])</dd>
            sum += priceList[i];
            showDate = showDate.AddDays(1);
        }
    </dl>
    <h3>Summary of charges: @sum</h3>
    
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Expiration)
    @Html.HiddenFor(model => model.SessionId)

    <div class="form-horizontal">
        <h4>Payment Information</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Card Number</dt>
            <dd><input autocomplete='off' class='form-control card-number' size='20' type='text'></dd>

            <dt>Billing Address</dt>
            <dd><input autocomplete='off' class='form-control' size='20' type='text'></dd>

            <dt>CVC</dt>
            <dd><input autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' size='4' type='text'></dd>

            <dt>Expiration</dt>
            <dd><input class='form-control card-expiry-month' placeholder='MM' size='2' type='text'></dd>

            <dt>Year</dt>
            <dd><input class='form-control card-expiry-year' placeholder='YYYY' size='4' type='text'></dd>
        </dl>

        <div class="form-horizontal">
            <input type="submit" value="Pay" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
