@model HotelBookingWebsite.Models.AvailableRoomViewModel

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchResult</h2>

<div>
    <h4>AvailableRoomViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Expiration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expiration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionId)
        </dd>

    </dl>
</div>
<div>
    @for (int i = 0; i < Model.RoomSearchResults.Count; i++)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model=>model.RoomSearchResults[i].Name)
            </dt>
            <dt>
                @Html.DisplayFor(model => model.RoomSearchResults[i].Name)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.RoomSearchResults[i].AvaragePrice)
            </dt>
            <dt>
                @Html.DisplayFor(model => model.RoomSearchResults[i].AvaragePrice)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.RoomSearchResults[i].Description)
            </dt>
            <dt>
                @Html.DisplayFor(model => model.RoomSearchResults[i].Description)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.RoomSearchResults[i].Ameneties)
            </dt>
            <dt>
                @Html.DisplayFor(model => model.RoomSearchResults[i].Ameneties)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.RoomSearchResults[i].PictureUlrs)
            </dt>
            <dt>
                @Html.Raw("<img src=\"" + (Model.RoomSearchResults[i].PictureUlrs) + "\">");
            </dt>
        </dl>
    }
</div>
<p>
    @Html.ActionLink("Search", "Search") |
    @Html.ActionLink("Back to List", "Index")
</p>
